/* Extra small devices (phones, < 480px) */
@media (max-width: 479px) { 
     .hide-for-mobile{
        display: none;
    }
      .wrapper_1, .wrapper_2, .form_boxes{
        width: 100%;
    }
   
}

/* Small devices (phones, 480px – 575px) */
@media (min-width: 480px) and (max-width: 575px) { 
      .hide-for-mobile{
        display: none;
    }
      .wrapper_1, .wrapper_2, .form_boxes{
        width: 100%;
    }
    
}

/* Medium devices (large phones, tablets portrait, 576px – 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    
      .hide-for-mobile{
        display: none;
    }
      .wrapper_1, .wrapper_2, .form_boxes{
        width: 100%;
    }
  .amts{
    height:10vh;
    padding: 40px;
  }
  .amts_b1, .amts_b2{
    font-size:20px;
  }
  .logo_area{
    padding: 40px;
    height:15vh;
  }
  .slide_1{
    height: 75vh;
  }
  .slide_title{
    font-size:80px;
  }
  .slide_definition{
    font-size:30px;
  }
  .readmorebutton, .classyButton{
    font-size:30px;
  }
  .classyButton{
    font-size:18px !important; 
  }
        .reviewBox{
         padding:60px;
    }
     .desktop_menu{
         font-size: 15px;
    }
     .section_2{
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .review_collections{
         display: flex;
         flex-direction: row !important;
         gap:20px;
    }
     .reviewBox{
         height: auto;
    }
     .etetag{
         display: block !important;
    }
     .features_collection{
         display: flex;
         flex-direction: column;
         gap:20px;
    }
     .more_features_section{
         display: flex;
         flex-direction: column;
         gap:20px;
    }
     .feature{
         display: flex !important;
         justify-content: center;
         align-items: center;
         align-content: center;
         flex-direction: row !important;
         text-align: left !important;
    }
     .feature_tag_definition{
         font-weight: normal;
    }
     .left_section_1, .right_section_2{
         width:30%;
         height:auto;
         display: block !important;
    }
     .right_section_1, .left_section_2{
         display: flex;
         width:70%;
         flex-direction: column;
         gap:20px;
    }
     .feature_image{
         object-fit: cover;
         aspect-ratio: 16 / 9;
         width: 100%;
         height: 100%;
         max-height:100%;
    }
     .feature_tag_2{
         font-weight: bold;
         font-size:24px;
         text-align: left !important;
         align-self: left !important;
    }
     .feature_tag{
         display: none;
    }
     .right_section_1{
         width:70%;
    }
     .spec_icons{
         height:40px;
    }
     .cards_collection{
         display: flex;
         justify-content: space-between;
         flex-direction: column !important;
    }
     .specialities_collection{
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .etetag{
         display: block !important;
    }
     .specialities{
         width:50%;
    }
     .etetag{
         width:50%;
    }
     .section_heading, .intro, .etetag{
         text-align:left;
    }
     .video-wrapper {
         width: auto;
         max-width: 500%;
         border-radius: 70px;
         height: auto;
    }
     .welcome_video {
         width: 100% !important;
         height: auto !important;
    }
     .sep_line{
         display: none;
    }
     .card{
         width:100%;
         height:100%;
         min-height:200px;
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .desktop_menu{
         display: flex;
         gap:20px;
         font-weight: bold;
    }
     .section_2{
         flex-direction: row;
    }
     .menu_area{
         width:fit-content;
    }
    .desktop_menu_item{
        font-size:18px !important; 
    }
     .classyButton{
         font-size:15px;
         right:0 !important;
         width:fit-content;
    }
     .video-wrapper{
         width:100%;
         justify-content: center;
         display: flex;
         align-items: center;
         align-content: center;
         background-color: white !important;
    }
     .card{
         width:30%;
    }
     .card_definition{
         width:70%;
    }
     .hide-for-mobile{
         display: flex !important;
    }
     .cards_collection{
         flex-direction: column !important;
    }
    .def_pack{
        width: 100% !important;
        padding: 40px;
        gap:40px;
    }
    .hide-for-mobile-2{
        display: none !important;
    }
    .form_boxes{
        width: 100%;
    }
    .slide_1{
        width: 100%;
    }
 }

/* Tablets (portrait & landscape, 768px – 991px) */
@media (min-width: 768px) and (max-width: 991px) {
               .hide-for-mobile-2{
        display: none !important;
    }
    .reviewBox{
         padding:60px;
    }
     .desktop_menu{
         font-size: 20px;
    }
     .section_2{
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .review_collections{
         display: flex;
         flex-direction: row !important;
         gap:20px;
    }
     .reviewBox{
         height: auto;
    }
     .etetag{
         display: block !important;
    }
     .features_collection{
         display: flex;
         flex-direction: column;
         gap:20px;
    }
     .more_features_section{
         display: flex;
         flex-direction: column;
         gap:20px;
    }
     .feature{
         display: flex !important;
         justify-content: center;
         align-items: center;
         align-content: center;
         flex-direction: row !important;
         text-align: left !important;
    }
     .feature_tag_definition{
         font-weight: normal;
    }
     .left_section_1, .right_section_2{
         width:30%;
         height:auto;
         display: block !important;
    }
     .right_section_1, .left_section_2{
         display: flex;
         width:70%;
         flex-direction: column;
         gap:20px;
    }
     .feature_image{
         object-fit: cover;
         aspect-ratio: 16 / 9;
         width: 100%;
         height: 100%;
         max-height:100%;
    }
     .feature_tag_2{
         font-weight: bold;
         font-size:24px;
         text-align: left !important;
         align-self: left !important;
    }
     .feature_tag{
         display: none;
    }
     .right_section_1{
         width:70%;
    }
     .spec_icons{
         height:40px;
    }
     .cards_collection{
         display: flex;
         justify-content: space-between;
         flex-direction: column !important;
    }
     .specialities_collection{
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .etetag{
         display: block !important;
    }
     .specialities{
         width:50%;
    }
     .etetag{
         width:50%;
    }
     .section_heading, .intro, .etetag{
         text-align:left;
    }
     .video-wrapper {
         width: auto;
         max-width: 500%;
         border-radius: 70px;
         height: auto;
    }
     .welcome_video {
         width: 100% !important;
         height: auto !important;
    }
     .sep_line{
         display: none;
    }
     .card{
         width:100%;
         height:100%;
         min-height:200px;
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .desktop_menu{
         display: flex;
         gap:20px;
         font-weight: bold;
    }
     .amts{
         padding:40px;
         height:8vh;
         font-size:20px;
    }
     .closer_notification{
         font-size:15px !important;
    }
     .logo_area{
        padding: 40px;
         height: 15vh;
         justify-content: space-between;
    }
     .logo_area img{
         transform: scale(1.8);
    }
     .slide_title{
         font-size:80px;
    }
     .slide_definition{
         font-size: 30px;
         width:400px;
    }
     .section_2{
         flex-direction: row;
    }
     .readmorebutton{
         font-size:30px;
         padding: 20px;
         width:fit-content;
    }
     .menu_area{
         width:fit-content;
    }
     .slide_1{
         height:77vh;
    }
     .classyButton{
         font-size:20px;
         right:0 !important;
         width:fit-content;
    }
     .video-wrapper{
         width:100%;
         justify-content: center;
         display: flex;
         align-items: center;
         align-content: center;
         background-color: white !important;
    }
     .card{
         width:30%;
    }
     .card_definition{
         width:70%;
    }
     .hide-for-mobile{
         display: flex !important;
    }
     .cards_collection{
         flex-direction: column !important;
    }
    .def_pack{
        width: 1300px !important;
        gap:40px;
        padding: 40px;
    }
 }

/* Small laptops (992px – 1199px) */
@media (min-width: 992px) and (max-width: 1199px) { 
    
}

/* Desktops (1200px – 1439px) */
@media (min-width: 1200px) and (max-width: 1439px) { 
         .reviewBox{
         padding:60px;
    }
     .desktop_menu{
         font-size: 15px;
    }
     .section_2{
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .review_collections{
         display: flex;
         flex-direction: row !important;
         gap:20px;
    }
     .reviewBox{
         height: auto;
    }
     .etetag{
         display: block !important;
    }
     .features_collection{
         display: flex;
         flex-direction: column;
         gap:20px;
    }
     .more_features_section{
         display: flex;
         flex-direction: column;
         gap:20px;
    }
     .feature{
         display: flex !important;
         justify-content: center;
         align-items: center;
         align-content: center;
         flex-direction: row !important;
         text-align: left !important;
    }
     .feature_tag_definition{
         font-weight: normal;
    }
     .left_section_1, .right_section_2{
         width:30%;
         height:auto;
         display: block !important;
    }
     .right_section_1, .left_section_2{
         display: flex;
         width:70%;
         flex-direction: column;
         gap:20px;
    }
     .feature_image{
         object-fit: cover;
         aspect-ratio: 16 / 9;
         width: 100%;
         height: 100%;
         max-height:100%;
    }
     .feature_tag_2{
         font-weight: bold;
         font-size:24px;
         text-align: left !important;
         align-self: left !important;
    }
     .feature_tag{
         display: none;
    }
     .right_section_1{
         width:70%;
    }
     .spec_icons{
         height:40px;
    }
     .cards_collection{
         display: flex;
         justify-content: space-between;
         flex-direction: column !important;
    }
     .specialities_collection{
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .etetag{
         display: block !important;
    }
     .specialities{
         width:50%;
    }
     .etetag{
         width:50%;
    }
     .section_heading, .intro, .etetag{
         text-align:left;
    }
     .video-wrapper {
         width: auto;
         max-width: 500%;
         border-radius: 70px;
         height: auto;
    }
     .welcome_video {
         width: 100% !important;
         height: auto !important;
    }
     .sep_line{
         display: none;
    }
     .card{
         width:100%;
         height:100%;
         min-height:200px;
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
    }
     .desktop_menu{
         display: flex;
         gap:20px;
         font-weight: bold;
    }
     .amts{
         padding:20px;
         height:8vh;
         font-size:15px;
    }
     .closer_notification{
         font-size:15px !important;
    }
     .logo_area{
         height: 15vh;
         justify-content: space-between;
    }
     .logo_area img{
         transform: scale(1.8);
    }
     .slide_title{
         font-size:50px;
    }
     .slide_definition{
         font-size: 20px;
         width:400px;
    }
     .section_2{
         flex-direction: row;
    }
     .readmorebutton{
         font-size:15px;
         width:fit-content;
    }
     .menu_area{
         width:fit-content;
    }
     .slide_1{
         height:77vh;
    }
     .classyButton{
         font-size:15px;
         right:0 !important;
         width:fit-content;
    }
     .video-wrapper{
         width:100%;
         justify-content: center;
         display: flex;
         align-items: center;
         align-content: center;
         background-color: white !important;
    }
     .card{
         width:30%;
    }
     .card_definition{
         width:70%;
    }
     .hide-for-mobile{
         display: flex !important;
    }
     .cards_collection{
         flex-direction: column !important;
    }
    .def_pack{
        width: 1300px !important;
    }
}

/* Large desktops / wide screens (1440px – 1919px) */
@media (min-width: 1440px) and (max-width: 1919px) {
    
 }

/* Ultra-wide screens (1920px+) */
@media (min-width: 1920px) { 

}